{extend name="Layout/main" /}

{block name="style"}
<style type="text/css">
    .demo-facebook-card .card-header {
        display: block;
        padding: 10px;
    }
    .demo-facebook-card .demo-facebook-avatar {
        float: left;
    }
    .demo-facebook-card .demo-facebook-name {
        margin-left: 44px;
        font-size: 14px;
        font-weight: 500;
    }
    .demo-facebook-card .demo-facebook-date {
        margin-left: 44px;
        font-size: 13px;
        color: #8e8e93;
    }
    .demo-facebook-card .card-footer {
        background: #fafafa;
    }
    .demo-facebook-card .card-footer a {
        color: #81848b;
        font-weight: 500;
    }
    .demo-facebook-card .card-content img {
        display: block;
    }
    .demo-facebook-card .card-content-padding {
        padding: 15px 10px;
    }
    .demo-facebook-card .card-content-padding .likes {
        color: #8e8e93;
    }
</style>
{/block}

{block name="left-panel"} {/block}
{block name="right-panel"} {/block}

{block name="content"}
<div class="views tabs">
    <div class="view view-main ios-edges tab tab-active" id="tab-1">
        <div class="page" data-name="home">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="#" class="link icon-only">
                            <i class="icon f7-icons ios-only">compose</i>
                            <i class="icon material-icons md-only">compose</i>
                        </a>
                    </div>
                    <div class="title sliding">广场</div>
                    <div class="right">
                        <!-- Link to enable searchbar -->
                        <a class="link icon-only searchbar-enable" data-searchbar=".searchbar">
                            <i class="icon f7-icons ios-only">search_strong</i>
                            <i class="icon material-icons md-only">search</i>
                        </a>
                    </div>
                    <form data-search-container=".components-list" data-search-in=".card-content" class="searchbar searchbar-expandable searchbar-init">
                        <div class="searchbar-inner">
                            <div class="searchbar-input-wrap">
                                <input type="search" placeholder="搜索"/>
                                <i class="searchbar-icon"></i>
                                <span class="input-clear-button"></span>
                            </div>
                            <span class="searchbar-disable-button">Cancel</span>
                        </div>
                    </form>
                </div>
            </div>
            {include file='Layout/toolbar'}

            <div class="page-content hide-navbar-on-scroll">
                <div class="searchbar-backdrop"></div>
                <div class="block-title searchbar-found">赶快来写一篇留言吧!</div>
                <div class="components-list searchbar-found">

                </div>
            </div>
        </div>
    </div>

    <div class="view view-init ios-edges tab" id="tab-2">
        <div class="page" data-name="publish">
            {include file='Layout/toolbar'}

            <div class="page-content">
                <div class="block-title">关于Framework7</div>
                {include file='Layout/index2'}
                {include file='Layout/index2'}
                {include file='Layout/index2'}
                {include file='Layout/index2'}
                {include file='Layout/index2'}
                {include file='Layout/index2'}
                {include file='Layout/index2'}
                {include file='Layout/index2'}
            </div>
        </div>
    </div>

    <div class="view view-init ios-edges tab" id="tab-3">
        <div class="page" data-name="me">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="#" class="link icon-only panel-open" data-panel="left">
                            <i class="icon f7-icons ios-only">menu</i>
                            <i class="icon material-icons md-only">menu</i>
                        </a>
                    </div>
                    <div class="title">我</div>
                </div>
            </div>
            {include file='Layout/toolbar'}

            <div class="page-content">
                <div class="block-title">赶快来写自己的第一篇留言吧！</div>

                <a href="/about/">About app</a><br/>
                <a class="link external" href="/GuestBook/Index/logout">退出登录</a>

                {include file='Layout/index3'}
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script type="text/template7" id="tab-1-template">
    {include file='Layout/index1'}
</script>
<script type="text/template7" id="tab-2-template">
    <div class="block-title">关于Framework7</div>
    {include file='Layout/index2'}
</script>
<script type="text/template7" id="tab-3-template">
    <div class="block-title">赶快来写自己的第一篇留言吧！</div>

    <a href="/about/">About app</a><br/>
    <a class="link external" href="/GuestBook/Index/logout">退出登录</a>

    {include file='Layout/index3'}
</script>
<script>
    Token.message.toast('{$nickname}'+'，欢迎回来...', 'center');
</script>
<script type="text/javascript" src="__GUESTBOOK__/js/index.js"></script>
{/block}