<div class="card demo-facebook-card">
    <div class="card-header">
        <div class="demo-facebook-avatar"><img src="http://lorempixel.com/68/68/people/1/" width="34" height="34"/></div>
        <div class="demo-facebook-name">{{uname}}</div>
        <div class="demo-facebook-date">{{ltime}}</div>
    </div>
    <div class="card-content card-content-padding">
        <p>{{content}}</p><img src="http://lorempixel.com/1000/700/nature/8/" width="100%"/>
        <p class="likes">Likes: {{praise_count}}    Comments: {{comments_count}}</p>
    </div>
    <div class="card-footer"><a href="#" class="link">Like</a><a href="#" class="link">Comment</a><a href="#" class="link">Share</a></div>
</div>