<div class="block">
    <main class="center">
        <div class="home-block home-intro">
            <h1>Framework7</h1>
            <p>Framework7 是一个开源免费的框架可以用来开发混合移动应用（原生和HTML混合）或者开发 iOS & Android 风格的WEB APP。也可以用来作为原型开发工具，可以迅速创建一个应用的原型。</p>
            <p>Framework7 最主要的功能是可以使用HTML、CSS和JS来开发iOS7应用。Framework7 是完全免费开源的。</p>
            <p>Framework7 并不能兼容所有的设备。她只专注于为 iOS 和 Google Material 设计提供最好的体验。</p>
            <p><strong>如果你想开发 iOS 或者 Android 混合应用（Phonegap）或者你想开发 iOS 和 Google Material 风格的WEB APP，那么Framework7将会是你的首选。</strong></p>
        </div>
        <div class="home-block home-easy-to-use">
            <div class="pic"><img src="/i/feats/html.jpg" alt="" height="310"></div>
            <div class="text">
                <h2>简单易用<br>像写网页一样简单!</h2>
                <p>使用Framework7创建iOS7应用就和搭建一个网站一样简单。你只需要一个基本的HTML布局，并且把Framework7的CSS和JS文件引入即可！Framework7不会强制你写任何自定义的标签，也不会通过JS来生成任何额外的内容。你不需要通过JS或者JSON来写页面，只需要普通的HTML就可以。</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="home-block home-ios">
            <div class="text">
                <h2>专注iOS</h2>
                <p>Framework7 是一个针对iOS7的框架。从一开始，她就考虑到如何最方便快捷地实现iOS7上各种惊艳的UI组件，以及复杂的动画和灵活的触摸交互。所以Framework7是你实现像素级精度的iOS7应用的最佳选择。</p>
            </div>
            <div class="pic"><img src="/i/feats/ios.jpg" alt=""></div>
            <div class="clearfix"></div>
        </div>
        <div class="home-block home-ios">
            <div class="text">
                <h2>Material 主题</h2>
                <p>Framework7 的 Material 主题按照 Google Material 官方的设计标准像素级别的还原所有特性，无论是视觉还是交互上，几乎可以和原生开发的体验一模一样。</p>
            </div>
            <div class="pic"><img src="/i/feats/material.jpg" alt=""></div>
            <div class="clearfix"></div>
        </div>
        <div class="home-block home-ui">
            <div class="text">
                <h2>UI 组件</h2>
                <p>Framework7 有大量可以直接使用的UI组件和工具，比如modals,popup,action sheet, popover, list views, media lists, tabs, side panels, layout grid, preloader, form elements 等。大部分的组件你都完全不需要写任何JS代码。</p>
            </div>
            <div class="pic"><img class="lazy" data-src="/i/feats/ui.jpg" alt=""></div>
            <div class="clearfix"></div>
        </div>
        <div class="home-block home-killer">
            <h2>杀手锏特性</h2>
            <div class="tab-links"><a class="active" href="#">滑动返回</a><a href="#">滑动操作</a><a href="#">动态导航栏</a><a href="#">下拉刷新</a><a href="#">消息</a></div>
            <div class="tabs">
                <div class="tab active">
                    <div class="pic">
                        <video src="/i/feats/swipeback.mp4" loop autoplay></video>
                    </div>
                    <div class="text">
                        <h3>滑动返回</h3>
                        <p>Framework7的一个最大特色就是提供了的滑动返回功能，当你从屏幕左侧向右滑动的时候可以返回到上一个页面。并且，这不是一个 A-B 动画，她完全跟随你的手指触摸而移动。</p>
                    </div>
                </div>
                <div class="tab">
                    <div class="pic">
                        <video src="/i/feats/swipeout.mp4" loop></video>
                    </div>
                    <div class="text">
                        <h3>滑动操作</h3>
                        <p>你是否体验过在邮件App中向左滑动一条消息就可以删除或标记为已读？Framework7 在列表元素中有相同的功能，并且有同样平滑的动画和触摸交互</p>
                    </div>
                </div>
                <div class="tab">
                    <div class="pic">
                        <video src="/i/feats/navbar.mp4" loop></video>
                    </div>
                    <div class="text">
                        <h3>动态导航栏</h3>
                        <p>就像上面说过的，Framework7让一切都有iOS7的体验。其中一个重要的特点就是动态导航栏。当你切换页面的时候可以清楚地看到导航栏的元素是如何滑动并渐变的。</p>
                    </div>
                </div>
                <div class="tab">
                    <div class="pic">
                        <video src="/i/feats/ptr.mp4" loop></video>
                    </div>
                    <div class="text">
                        <h3>下拉刷新</h3>
                        <p>Framework7 可能是第一个并且是唯一一个使用原生滚动条实现下拉刷新功能的框架。这就是为什么下拉刷新组件和原生的ios应用一样完美的原因。</p>
                    </div>
                </div>
                <div class="tab">
                    <div class="pic">
                        <video src="/i/feats/messages.mp4" loop></video>
                    </div>
                    <div class="text">
                        <h3>消息</h3>
                        <p>Framework7 有一个非常强大的”消息“组件，你可以很容易定制并集成到你的app中，然后通过异步数据服务（比如 pusher 或者 PubNub）来实现不同用户之间发送消息。</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="home-block home-styles">
            <div class="text">
                <h2>自定义</h2>
                <p>Framework7 的所有样式文件都被分类放在了一个个小的 <b>.less</b> 文件中，所以你可以只选择自己需要的部分文件。</p>
                <p>这里有很多使用Framework7并且上架App Store的 iOS &amp; Android 应用 <a href="showcase/">Showcase</a></p>
            </div>
            <div class="pic"><img src="/i/showcase/delights1.jpeg"><img src="/i/showcase/series72.png"><img src="/i/showcase/zebra1.jpeg"><img src="/i/showcase/aquasella1.jpeg"></div>
        </div>
        <div class="home-block home-vi">
            <div class="pic"><img src="/i/vi-logo.svg" width="320" height="320"></div>
            <div class="text">
                <h2>内置变现渠道</h2>
                <p>Framework7 与 <a href="http://vi.ai" target="_blank"><b>vi</b></a> 合作，vi能够为您提供移动端视频广告市场最好的广告视频。 您可以自由决定要在应用的任何位置放置<b>vi</b> 提供的插屏广告，甚至可以全屏显示插屏广告视频。</p>
                <p><a href="http://vi.ai" target="_blank"><b>vi</b></a> 可以让您非常方便得在您的应用内加入广告视频，同时赚取一定的广告费用。</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="home-block home-more">
            <div class="text">
                <h2>更多的特色...</h2>
            </div>
            <div class="feats">
                <div class="feat">
                    <h3>原生滚动条</h3>
                    <p>Framework7最大的特点之一就是使用了原生的滚动条。所以你的滚动条会有原生滚动条一样的加速度和回弹，没有任何bug和性能问题。</p>
                </div>
                <div class="feat">
                    <h3>多个视图（分屏）</h3>
                    <p>Framework7支持多个独立的视图(view)。并且你可以不用写任何JS，只需要在链接上加一个 &quot;data-view&quot; 就可以控制每一个视图。</p>
                </div>
                <div class="feat">
                    <h3>不依赖第三方库</h3>
                    <p>Framework7 不依赖任何第三方库。所以它很轻量、高性能和灵活。</p>
                </div>
                <div class="feat">
                    <h3>简洁的JS API</h3>
                    <p>使用Framework7不需要学习任何新的知识，她的JS接口非常简洁易用并且功能强大。比如，当你需要弹出一个alert的时候你只需要 <code>app.alert("Hello World!")</code>。</p>
                </div>
                <div class="feat">
                    <h3>高性能的动画</h3>
                    <p>Framework7 使用硬件加速的CSS动画以达到最好的性能。</p>
                </div>
                <div class="feat">
                    <h3>页面动画</h3>
                    <p>Framework7最主要的一个目的就是让你的应用和iOS本地应用有相同的外观和交互体验。并且Framework7是唯一一个提供了1:1精确平滑的页面切换动画的框架。</p>
                </div>
                <div class="feat">
                    <h3>XHR + Caching + History + Preloading</h3>
                    <p>这几个功能的组合可以让你的应用的路由功能变得非常强大。Framework7 通过Ajax来加载新页面，并且可以通过缓存配置让页面的加载速度变得非常快。她会在一定的时间内缓存Ajax请求的结果（默认是10分钟），在缓存有效期内不会发送新的请求而是直接从缓存中取出结果。</p>
                </div>
                <div class="feat">
                    <h3>Dom7 - 自定义的DOM库</h3>
                    <p>Framework7不依赖任何第三方库，包括dom操作，包括jquery。她有一个自带的高性能dom库 - DOM7。并且，你不需要因为DOM7而学习任何新的知识，因为DOM7的接口和大名鼎鼎的jQuery几乎是一样的。</p>
                </div>
            </div>
        </div>
        <div class="home-block home-vue">
            <div class="text">
                <h1>Framework7 Vue</h1>
                <p>将 Vue.js 的给力又简单应用的组件语法，结构化数据和数据绑定等特性引入到 Framework7</p>
            </div>
            <div class="pic"><img src="/i/vue-intro.png" width="700"></div>
        </div>
        <div class="home-block home-featured">
            <div class="center">
                <h2>使用Framework7开发的具有类似iOS原生体验的App</h2>
                <div class="feat-apps">
                    <div class="feat-app"><a class="feat-app-icon feat-app-icon-rounded" href="https://itunes.apple.com/us/app/brief-customer-messaging/id1248044218?mt=8" target="_blank"><img src="/i/showcase/brief.jpg"></a><a class="feat-app-title" href="https://itunes.apple.com/us/app/brief-customer-messaging/id1248044218?mt=8" target="_blank">Brief - Customer messaging</a>
                        <div class="feat-app-author">by<a href="https://letsbrief.com/" target="_blank">Letsbrief AB</a></div>
                    </div>
                    <div class="feat-app"><a class="feat-app-icon feat-app-icon-rounded" href="https://itunes.apple.com/app/prsm/id989164526?mt=8&amp;uo=8&amp;at=1l3voeJ" target="_blank"><img src="/i/showcase/prism.png"></a><a class="feat-app-title" href="https://itunes.apple.com/app/prsm/id989164526?mt=8&amp;uo=8&amp;at=1l3voeJ" target="_blank">PRSM</a>
                        <div class="feat-app-author">by<a href="https://itunes.apple.com/us/developer/daniel-mansfeld/id828424202" target="_blank">Daniel Mansfeld</a></div>
                    </div>
                    <div class="feat-app"><a class="feat-app-icon feat-app-icon-rounded" href="https://itunes.apple.com/app/monday-delights/id797451618" target="_blank"><img src="/i/showcase/delights.jpg"></a><a class="feat-app-title" href="https://itunes.apple.com/app/monday-delights/id797451618" target="_blank">Monday Delights</a>
                        <div class="feat-app-author">by<a href="https://itunes.apple.com/us/artist/yevart/id797451621" target="_blank">Yevart</a></div>
                    </div>
                    <div class="feat-app"><a class="feat-app-icon feat-app-icon-rounded" href="https://itunes.apple.com/us/app/polygen-polygon-wallpaper/id896479944" target="_blank"><img src="/i/showcase/polygen.jpg"></a><a class="feat-app-title" href="https://itunes.apple.com/us/app/polygen-polygon-wallpaper/id896479944" target="_blank">PolyGen</a>
                        <div class="feat-app-author">by<a href="https://itunes.apple.com/us/artist/bartlomiej-niemtur/id873021586" target="_blank">Bartlomiej Niemtur</a></div>
                    </div>
                </div>
                <p>更多的应用实例：<a href="showcase/">Showcase</a></p>
            </div>
        </div>
        <div class="home-block home-free">
            <div class="text">
                <h2>并且它是完全免费的</h2>
                <p>Framework7 是完全免费开源的（MIT 协议）</p>
                <p><a href="https://github.com/framework7io/framework7/releases/" target="_blank">下载</a><a href="./docs/introduction.html">开始使用Framework7</a><a href="./docs/">文档</a><a href="./contribute/">捐赠</a></p>
            </div>
        </div>
        <div class="home-block home-products">
            <h2>更多iDangero.us的优秀产品</h2>
            <div class="more-products"><a class="product" href="http://idangero.us/swiper/"><img src="/i/logo-swiper.png">
                <div class="title"><span>Swiper</span></div>
                <div class="text">也许是最流行的移动触屏滑动插件</div></a><a class="product" href="http://idangero.us/template7/"><img src="/i/logo-t7.png">
                <div class="title"><span>Template7</span></div>
                <div class="text">移动先行的 JavaScript 模板引擎</div></a>
                <div class="clearfix"></div>
            </div>
        </div>
    </main>
</div>