<div class="toolbar tabbar tabbar-labels">
    <div class="toolbar-inner">
        <a href="#" class="tab-link tab-1">
            <i class="icon f7-icons ios-only">email<span class="badge color-red">2</span></i>
            <i class="icon icon-fill f7-icons ios-only">email_fill<span class="badge color-red">2</span></i>
            <i class="icon material-icons md-only">email<span class="badge color-red">2</span></i>
            <span class="tabbar-label">广场</span>
        </a>
        <a href="#" class="tab-link tab-2">
            <i class="icon f7-icons ios-only">today</i>
            <i class="icon icon-fill f7-icons ios-only">today_fill</i>
            <i class="icon material-icons md-only">today</i>
            <span class="tabbar-label">发布</span>
        </a>
        <a href="#" class="tab-link tab-3">
            <i class="icon f7-icons ios-only">cloud</i>
            <i class="icon icon-fill f7-icons ios-only">cloud_fill</i>
            <i class="icon material-icons md-only">file_upload</i>
            <span class="tabbar-label">我</span>
        </a>
    </div>
</div>