<div class="card demo-facebook-card">
    <div class="card-header">
        <div class="demo-facebook-avatar"><img src="http://static.wutnews.net/avatar/259730.jpg" width="34" height="34"/></div>
        <div class="demo-facebook-name">{{uname}}</div>
        <div class="demo-facebook-date">{{ltime}}</div>
    </div>
    <div class="card-content card-content-padding">
        <p>{{content}}</p><img src="http://img.jrjimg.cn/2014/03/20140314100301270.jpg" width="100%"/>
        <p class="likes">Likes: {{praise_count}}    Comments: {{comments_count}}</p>
    </div>
    <div class="card-footer" data-hash="{{hash}}"><a href="#" class="link">编辑</a><a href="#" class="link item-delete">{{isDelete}}</a></div>
</div>